<div class="container">
  <div class="card">
    <form>
      <input
        type="text"
        placeholder="Digite o usuário Github"
        [formControl]="form.controls['githubUser']"
        class="usuario-github"
      >
      <button type="button" class="btn btn-info" (click)="buscaGithubUser()"> Buscar</button>
    </form>
    <app-resultado-perfil
      *ngIf="exibePerfil"
      [dadosPerfil]="dadosPerfil"
    >

    </app-resultado-perfil>
  </div>

  <app-resultado-repos
   *ngIf="exibeRepos"
   [dadosRepos]="dadosRepos"
  >

  </app-resultado-repos>
</div>
