
.card {
  // position: absolute;
  // width: 250px;
  height: 100%;
  background-color: #3d8bfd;

  form {
    display: flex;
    height: 20%;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 30px;
  }
}

.usuario-github {
  height: 50px;
  border-radius: 5px;
  border-style: hidden;
  outline-width: 0;
  text-align: center;
}
