<button
  (click)="ligaDesligaReact()"
  class="btn"
  [ngClass]="{
    'btn-success': habilitaReact,
    'btn-danger': !habilitaReact
  }"
>
  TOGGLE REACT - {{habilitaReact ? 'ON' : 'OFF'}}
</button>
<div class="container-fluid" *ngIf="!habilitaReact">
  <div
    class="card card-busca"
    [class.inicial]="!exibePerfil && !exibeRepos"
  >
    <form [formGroup]="form">
      <input
        type="text"
        placeholder="Digite o usuário Github"
        formControlName="githubUser"
        class="usuario-github"
        [class.invalido]="erroInput"
        required
      >
      <button type="submit" class="btn btn-info" (click)="buscaGithubUser()"> Buscar</button>
    </form>
    <app-resultado-perfil
      *ngIf="exibePerfil"
      [dadosPerfil]="dadosPerfil"
      class="resultado-perfil"
    >

    </app-resultado-perfil>
    <div
      class="spinner-border text-primary"
      role="status"
      *ngIf="carregandoPerfil"
    >
      <span class="visually-hidden">Obtendo Dados...</span>
    </div>
  </div>

  <app-resultado-repos
   *ngIf="exibeRepos"
   [dadosRepos]="dadosRepos"
  >

  </app-resultado-repos>
    <div
      class="spinner-border text-primary"
      role="status"
      *ngIf="carregandoPerfil"
    >
      <span class="visually-hidden">Obtendo Dados...</span>
    </div>
</div>
<app-react-wrapper *ngIf="habilitaReact"></app-react-wrapper>
